{{#each this}}
<tr>
	<td><i class="icon-{{smiling}}"></i></td>
	<td>
		<div class="table-results-imc">{{imc}}</div>
	</td>
	<td>
		<div class="table-results-info">
			<div class="table-results-name">{{name}}</div>
			<div class="table-results-data">{{date}}</div>
			<div class="table-results-time">{{hours}}</div>
		</div>
	</td>
</tr>
{{/each}}